/**************/
/* Custom CSS */
/**************/

/*
font-family: 'Abril Fatface', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif; */

body{
	background-color: #fff;
	color: #000;
}

li a {
		font-family: 'Open Sans', sans-serif;
		/*float: left;*/
    /*width: 90px;*/
		list-style-type: none;
		color: #000;
		text-align: center;
		/*padding-left: 10px;
		padding-right: 10px;
		padding-top: 10px;*/
		display: inline;
}

h1 {
	color: #000;
}

a {
    text-decoration: none;
}

.col-md-1{
	margin: 0px;
	padding: 0px;
}

.col-md-1:hover{
	background-color: #eee;
}

.col-md-12{
align-items: center;
display: inline;
}

.btn-lg{
padding: 14px;
margin: 10px;
display: inline;
}

.animal {
	min-height: 550px;
}

.animal img {
	width: 100%;
}


#naviItem{
	padding-top: 20px;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	/*display: inline;*/
	/*float: left;*/
	width: 90px;
	list-style-type: none;
}

#title{
	padding-left: 75px;
	text-align: center;
	font-family: 'Abril Fatface', cursive;
	color: #000;
}

#section{
padding-top: 20px;
padding-bottom: 20px;
border-bottom: 1px solid #000;
}

#bigWords{
	text-align: center;
	font-family: 'Abril Fatface', cursive;
	color: #000;
}

#section-title{
	text-align: center;
	font-family: 'Abril Fatface', cursive;
	color: #000;
}

#animal-holder{
	margin-top: 75px;
}

/* IMPORTANT - must give map div height */
#map-canvas { height:400px; }

/* IMPORTANT - fixes webkit infoWindow rendering */
#map-canvas img { max-width: none; }
